@layer components {
  .description-list {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: var(--space-m);
    row-gap: var(--space-2xs);
  }

  .description-list dt {
    grid-column: 1;
    font-weight: var(--font-weight-semibold);
    color: var(--c-bodyDimmed);
  }

  .description-list dd {
    grid-column: 2;
  }
}
