
.switch {
  --switch-track-color: var(--c-border);
  --switch-on-color: var(--c-accent-600);
  --switch-thumb-size: 1rem;

  appearance: none;
  position: relative;
  display: inline-block;
  flex: none;
  width: calc(var(--switch-thumb-size) * 2 + 8px);
  height: calc(var(--switch-thumb-size) + 8px);
  margin: 0;
  border-radius: var(--radius-pill);
  background: var(--switch-track-color);
  transition: var(--transition-fast) background-color;
  cursor: pointer;
  vertical-align: middle;
  font-size: var(--text-s);
}

/* Thumb */
.switch::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: var(--switch-thumb-size);
  height: var(--switch-thumb-size);
  border-radius: var(--radius-circle);
  background: oklch(100% 0 0deg);
  transform: translateY(-50%);
  transition: var(--transition-fast) transform;
  box-shadow: 0 1px 2px oklch(0% 0 0deg / 20%);
}

.switch:checked {
  background: var(--switch-on-color);
}

.switch:checked::before {
  transform: translateY(-50%) translateX(var(--switch-thumb-size));
}

/* Focus ring */
.switch:focus-visible {
  outline: none;
  box-shadow: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
}

/* Disabled */
.switch:disabled {
  --switch-track-color: var(--c-neutral-300);
  --switch-on-color: var(--c-neutral-600);

  opacity: 0.6;
  cursor: not-allowed;
}

/* Hover */
.switch:hover:not(:disabled) {
  filter: brightness(0.92);
}

/* Sizes */
.switch--small {
  --switch-thumb-size: 0.75rem;

  font-size: var(--text-xs);
}

.switch--large {
  --switch-thumb-size: 1.25rem;

  font-size: var(--text-m);
}
