/* TODO: bad? */
@import url(../../styles/variables.css);

:host {
  display: inline-block;
  /* display: inline-flex; */
  position: relative;
  width: auto;
  cursor: pointer;
}

@layer components {
  button,
  .button {
    color: var(--button-color, var(--c-body));
    background-color: var(--button-bg, var(--c-background));

    &:where(:has(.icon)) {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }
  }
}
