<section class="cards layout-grid">
  <article class="card">
    <p>
      Each card features a footer that should maintain a consistent alignment
      across all cards, regardless of variations in their content.
    </p>
    <div class="card__footer">
      <hr />
      Footer content
    </div>
  </article>
  <article class="card">
    <p>
      This can help ensure a clean, structured layout that enhances visual
      harmony and improves readability.
    </p>
    <div class="card__footer">
      <hr />
      Footer content
    </div>
  </article>
  <article class="card">
    <p>Card number three.</p>
    <div class="card__footer">
      <hr />
      Footer content
    </div>
  </article>
</section>
