<section class="cards flex-layout-grid">
  <article class="card">
    <img
      slot="image"
      src="https://images.unsplash.com/photo-1583524505974-6facd53f4597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
      alt="A kitten sits patiently between a terracotta pot and decorative grasses."
    />
    <p>This card has an image.</p>
  </article>
  <article class="card">
    <img
      slot="image"
      src="https://images.unsplash.com/photo-1583524505974-6facd53f4597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
      alt="This card has only an image."
    />
  </article>
  <article class="card">
    <figure>
      <img
        src="https://images.unsplash.com/photo-1606011334315-025e4baab810?q=80"
        alt="A kitten sits patiently between a terracotta pot and decorative grasses."
      />
      <video loading="lazy" src="./cat-1.mp4" autoplay loop muted></video>
      <img
        src="https://images.unsplash.com/photo-1579168765467-3b235f938439?q=80"
        alt="A kitten sits patiently between a terracotta pot and decorative grasses."
      />
    </figure>
    <p>This card has several images.</p>
  </article>
</section>
