<div class="flow">
  <ul class="cards flow cards--list">
    <li>
      <article class="card">
        <img
          src="https://images.unsplash.com/photo-1583524505974-6facd53f4597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
          alt="A kitten sits patiently between a terracotta pot and decorative grasses."
        />
        <div>
          <h4>This card has actions</h4>
          <p class="description">The image should be square in list view.</p>
        </div>
      </article>
    </li>
    <li>
      <article class="card">
        <img
          src="https://images.unsplash.com/photo-1583524505974-6facd53f4597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
          alt="A kitten sits patiently between a terracotta pot and decorative grasses."
        />
        <div>
          <h4>This card also has actions</h4>
          <p class="description">
            Once, in a quiet alley tucked behind a row of crooked brick houses,
            a tiny gray kitten was born beneath a rusted wheelbarrow. Her fur
            was scruffy, her tail comically short, and her meow sounded more
            like a squeaky hinge than anything threatening. Her name, if she had
            one, was unknown—until the day she wandered out from the shadows and
            into the life of a boy named Milo.
          </p>
        </div>
      </article>
    </li>
  </ul>
</div>
