@layer components {
  button,
  a.button {
    --button-color: oklch(from var(--button-bg) var(--l) 0 h / 90%);
    --button-bg: var(--c-background);
    --button-box-shadow: 0 1px 3px rgba(12, 12, 12, 0.09);

    --button-padding: var(--space-s) var(--space-m);

    --l-threshold: 0.7;
    --l: clamp(0, (l / var(--l-threshold) - 1) * -infinity, 1);

    color: var(--button-color);
    background-color: var(--button-bg);

    padding: 0;
    border: none;
    display: inline-flex;
    cursor: pointer;
    leading-trim: both;
  }

  /* TODO: Find a normal solution */
  .button:has(kbd) {
    --button-padding: 0.3125em var(--space-m);
  }

  /* TODO: FIX */
  .button:not(pp-list-item) {
    border: 1px solid var(--button-border);
    box-shadow: var(--button-box-shadow);
    border-radius: var(--radius-m);

    white-space: nowrap;
    line-height: 100%;
    --button-border: var(--c-border);

    &:not(:disabled):hover {
      --button-border: oklch(from var(--c-border) calc(l - 0.5) c h);
      --button-bg: oklch(from var(--c-background) calc(l - 0.05) c h);
    }

    &:has(.icon, kbd) {
      display: inline-flex;
      gap: 0.5em;
      align-items: center;
      vertical-align: middle;
    }

    /* for icon-only buttons */
    &:has(.inclusively-hidden) {
      padding: 0.5em;
    }

    /* TODO: for buttons without icons, setting a minimum inline size, and centering the text */
    /* &:not(:has(.icon)) {
      text-align: center;
      min-inline-size: 10ch;
    } */

    &:not(:has(.inclusively-hidden)) {
      padding: var(--button-padding);
    }

    &:active {
      opacity: 0.8;
      transform: translateY(1px);
      transition: none 0s ease 0s;
    }

    &.button--danger {
      --button-bg: var(--c-danger-500);
      --button-border: transparent;
      font-weight: 500;

      &:not(:disabled):hover {
        --button-bg: oklch(from var(--c-danger-500) calc(l - 0.1) c h);
      }
    }

    &.button--primary {
      --button-bg: var(--c-accent);
      --button-border: transparent;
      font-weight: 500;

      &:not(:disabled):hover {
        --button-bg: oklch(from var(--c-accent) calc(l - 0.1) c h);
      }
    }

    &.button--plain {
      --button-bg: transparent;
      --button-color: var(--c-body);
      --button-border: transparent;
      --button-box-shadow: none;

      &:hover {
        --button-bg: oklch(from var(--c-background) calc(l - 0.05) c h);
        --button-border: transparent;
      }
    }
  }

  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .button-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    button:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    button:not(:first-child) {
      /* TODO: --input-border-width */
      margin-inline-start: -1px;
    }
  }
}
