.card {
  /* TODO: */
  --card-bg: white;

  background-color: var(--card-bg);
  /* padding: var(--space-m); */
  border: var(--border);
  border-radius: var(--radius-m);
  position: relative;
  height: 100%;
  display: grid;
  gap: var(--space-s);
  align-content: baseline;
}

.card a {
  text-decoration: none;
  font-weight: 500;
}

.card a::before {
  content: "";
  position: absolute;
  inset: 0;
}

.card :is(h2, h3) {
  font-size: 1.25rem;
}

/*
.card__number-icon::before,
.card__number-icon img {
  width: 2.25rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
}
*/

.card:focus-within {
  outline: 3px solid var(--c-accent);
  outline-offset: 2px;
}

.card a:is(:focus, :focus-visible) {
  outline: 1px solid transparent;
}

.card a:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.card__attributes {
  overflow: hidden;
  padding: var(--space-m);
}

.card__header,
.card__footer {
  display: flex;
  gap: var(--space-m);
  justify-content: space-between;
}

.card__header {
  padding: var(--space-xs) var(--space-m);
}

.card__footer {
  padding: var(--space-m);
}

.card:has(.card__header) {
  /* padding-block-start: var(--space-s); */
}

/* .card:not(:has(:is(.card__header, .card__footer, .card__attributes))) {
  padding: var(--space-m);
} */

.card > * {
  padding-inline: var(--space-m);

  &:first-child {
    padding-block-start: var(--space-m);
  }

  &:last-child {
    padding-block-end: var(--space-m);
  }
}
