@import "./list-shared.css";
@import "./list-item-shared.css";

pp-dialog [cmdk-root] {
  --_cmdk-spacing: var(--space-m);
}

[cmdk-root] {
  --_cmdk-spacing: var(--space-s);
  --_check-size: 1.5em;

  border-radius: var(--radius-l);
  border: var(--border);
  background-color: var(--c-neutral-0);
  box-shadow: var(--shadow-l);
  padding-block: var(--_cmdk-spacing);
  min-width: 24rem;
}

[cmdk-root]:focus {
  outline: none;
}

[cmdk-input-wrapper] {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding-inline: var(--_cmdk-spacing);
  padding-block-end: var(--_cmdk-spacing);
  border-bottom: var(--border);
}

[cmdk-input] {
  width: 100%;
}

[cmdk-empty] {
  /* padding: var(--space-xl); */
  padding: var(--space-xs) var(--space-m);
  color: var(--c-bodyDimmed);
}

[cmdk-group-items] {
  margin-block: var(--_cmdk-spacing);
}

[cmdk-group-heading] + [cmdk-group-items] {
  margin-block-start: calc(var(--_cmdk-spacing) / 2);
}

[cmdk-group-heading] {
  font-size: smaller;
  color: var(--c-bodyDimmed);
  padding-inline: calc(var(--_cmdk-spacing) + var(--_check-size));
  padding-block-start: var(--_cmdk-spacing);
  font-weight: var(--font-weight-semibold);
}

[cmdk-group]:not(:first-of-type) {
  border-top: var(--border);
}

[cmdk-group] + [cmdk-group] {
  margin-block-start: var(--_cmdk-spacing);
}

[cmdk-item] {
  position: relative;
  display: flex;
  align-items: stretch;
  font-size: var(--text-m);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--c-neutral-700);
  padding: var(--space-xs) var(--_check-size) var(--space-xs) var(--space-2xs);
  transition: var(--transition-fast) fill;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  cursor: pointer;
  /* border-radius: var(--radius-s); */
}

[cmdk-item]:hover:not([aria-disabled="true"]) {
  background-color: var(--c-neutral-50);
  color: var(--c-neutral-1000);
}

[cmdk-item][aria-disabled="true"] {
  outline: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* CommandItem prefix (icons) */
[cmdk-item] .command-item__prefix:not(:empty) {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-inline-end: var(--_cmdk-spacing);
}

[cmdk-item] .command-item__prefix .icon,
[cmdk-item] .command-item__prefix iconify-icon {
  color: oklch(from var(--c-body) l c h / 0.6);
  fill: oklch(from var(--c-body) l c h / 0.6);
}

[cmdk-item] .command-item__label {
  flex: 1 1 auto;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

[cmdk-item] .command-item__suffix {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-inline-start: var(--space-xs);
  min-width: 1em;
}

[cmdk-item] .command-item__check {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--_check-size);
  visibility: hidden;
}

[cmdk-item].command-item--checked .command-item__check {
  visibility: visible;
}

dialog:has(> pp-command-menu) {
  padding: 0;
  grid-template-rows: auto;
  overflow: visible;
}

/* Shortcuts styling */
.cmdk-shortcuts {
  margin-left: auto;
  display: flex;
  gap: var(--space-2xs);
}

dialog:has(> [cmdk-root]) {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: var(--shadow-xl);
  grid-template-rows: min-content;
  align-items: center;

  &::backdrop {
    animation: none;
    background-color: transparent;
  }
}
