@layer components {
  details {
    --_details-padding: var(--space-m);
    --_state-indicator-spacing: 1rem;

    border: var(--border);
    border-radius: var(--radius-m);
    padding: var(--space-m) var(--space-m) 0;

    &[open] {
      padding-block: var(--space-m);
    }
  }

  summary {
    position: relative;
    margin: calc(var(--space-m) * -1) calc(var(--space-m) * -1) 0;
    padding: var(--_details-padding);
    display: flex;
    gap: 0.5ch;
    align-items: center;
    font-weight: 500;
  }

  summary:hover {
    /* background: oklch(0% 0 0 / 5%); */
  }

  summary::marker {
    content: none;
  }

  summary::before {
    z-index: 1;
    background: var(--c-neutral-100);
    /* border: var(--border); */
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(var(--_state-indicator-spacing) * -1);
    top: var(--_details-padding);
    border-radius: var(--radius-circle);
    transform: translate(50%, 25%);
    transition: var(--transition-fast) transform;
  }

  summary:hover::before {
    transform: translate(50%, 25%) scale(1.2);
  }

  summary::after {
    z-index: 2;
    content: "";
    background: var(--c-neutral-500);
    border-radius: var(--radius-circle);
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: calc(var(--_state-indicator-spacing) * -1 + 0.25rem);
    top: calc(var(--_details-padding) + 0.5rem);
    transform-origin: center;
    transform: translateX(100%);
    transition: var(--transition-fast) transform opacity;
  }

  details[open] summary::after {
    background: none;
  }

  details[open] summary::after,
  details[open] summary::before {
    /* opacity: 0; */
  }

  details[open]:hover summary::after,
  details[open]:hover summary::before {
    opacity: 1;
  }

  .card details {
    border: none;
    padding-inline: 0;
    margin-inline: calc(var(--space-s) * -1);
    /* TODO: */
    width: calc(100cqi - var(--space-s));

    summary {
      margin-inline: 0;
      padding-inline: var(--space-s);
    }

    > *:not(summary) {
      padding-inline: var(--space-s);
    }
  }

  details + details {
    margin-block-start: 0 !important;
  }

  details:has(+ details),
  details + details {
    border: none;
    border-bottom: var(--border);
    border-radius: 0;
    &:last-child {
      border: none;
    }
  }

  summary.muted {
    font-size: var(--text-xs);
    color: var(--c-bodyDimmed);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  /* TODO: */
  .stepper details summary::after {
    top: 0.5rem;
  }
}
