/* TODO: */
.sbdocs * {
  font-family: inherit !important;
}

.sbdocs-wrapper {
  padding-inline: 3rem !important;
}

.sidebar-item svg {
  display: none;
}

.sbdocs h2 {
  margin-block: 2rem 1rem;
  border-bottom: none;
}

:where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)),
.sbdocs.sbdocs-content li:not(.sb-anchor, .sb-unstyled, .sb-unstyled),
:where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) code,
:where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li)) code {
  font-size: 16px !important;
  max-width: 70ch;
  text-wrap: balance;
}

.lead {
  font-size: larger !important;
  line-height: var(--globalLineHeight) !important;
  text-wrap: balance;
  margin-bottom: 2rem !important;
}

.card a::first-letter {
  text-transform: capitalize;
}

#popover-tooltip[popover] {
  position-anchor: --anchor_1;
  inset-block-start: anchor(--anchor_1 top);
  inset-inline-start: anchor(--anchor_1 left);
}

#popover-1[popover] {
  position-anchor: --anchor_2;
  inset-block-start: anchor(--anchor_2 top);
  inset-inline-start: anchor(--anchor_2 left);
}

/* .docs-palette {
  display: flex;
  width: min-content;
}

.docs-palette > * {
  flex: 10ch 0 0;
  padding: 1em;
  font-size: var(--tx-text-xs) !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.sb-show-main table {
  width: 100%;
  table-layout: fixed;
}

.docs-color-preview {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-inline-end: 1ch !important;
  border: 1px solid oklch(0% 0 0 / 10%);
}

resize-asaurus > .resize-asaurus-container {
  padding: 2rem;
  border: 1px solid oklch(0% 0 0 / 10%);
}

.sb-main-padded.sb-show-main:has(tx-viz) {
  padding: 0;
}

.sbdocs.sbdocs-content {
  max-width: initial;
}

.sbdocs.sbdocs-wrapper {
  padding: 4rem;
}
 */

.sbdocs h1,
.sbdocs h2 {
  margin-block: 2rem 1rem !important;
}

.sidebar-header img {
  max-height: 80px !important;
}
