/* TODO: */
.sbdocs *:not(code) {
  font-family: inherit !important;
}

.sbdocs > * > code {
  font-family: var(--font-code);
  font-size: smaller !important;
}

.sbdocs-wrapper {
  padding-inline: 3rem !important;
}

.sidebar-item svg {
  display: none;
}

.sbdocs > h2 {
  margin-block: 2rem 1rem;
  border-bottom: none;
}

:where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)),
.sbdocs.sbdocs-content li:not(.sb-anchor, .sb-unstyled, .sb-unstyled),
:where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) code,
:where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li)) code {
  font-size: 16px !important;
  max-width: 70ch;
  text-wrap: balance;
}

:where(a:not(.sb-anchor, .sb-unstyled, .sb-unstyled a)) {
  /* color: inherit !important; */
}

.lead {
  font-size: larger !important;
  line-height: var(--globalLineHeight) !important;
  text-wrap: balance;
  margin-bottom: 2rem !important;
}

.card a::first-letter,
button::first-letter,
h4::first-letter,
h3::first-letter {
  text-transform: capitalize;
}

#popover-tooltip[popover] {
  position-anchor: --anchor_1;
  inset-block-start: anchor(--anchor_1 top);
  inset-inline-start: anchor(--anchor_1 left);
}

#popover-1[popover] {
  position-anchor: --anchor_2;
  inset-block-start: anchor(--anchor_2 top);
  inset-inline-start: anchor(--anchor_2 left);
}

.docs-palette {
  display: flex;
  width: min-content;
}

.docs-palette > * {
  flex: 10ch 0 0;
  padding: var(--space-s) var(--space-m);
  font-size: var(--text-xs) !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;

  --l-threshold: 0.7;
  --l: clamp(0, (l / var(--l-threshold) - 1) * -infinity, 1);
  --palette-color: oklch(from var(--palette-bg) var(--l) 0 h / 90%);

  color: var(--palette-color);
  background-color: var(--palette-bg);
}

.docs-palette p {
  margin: 0 !important;
  font-size: var(--text-xs) !important;
  color: inherit;
}

/*
.sb-show-main table {
  width: 100%;
  table-layout: fixed;
}

.docs-color-preview {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-inline-end: 1ch !important;
  border: 1px solid oklch(0% 0 0 / 10%);
}

resize-asaurus > .resize-asaurus-container {
  padding: 2rem;
  border: 1px solid oklch(0% 0 0 / 10%);
}

.sbdocs.sbdocs-content {
  max-width: initial;
}

.sbdocs.sbdocs-wrapper {
  padding: 4rem;
}
 */

.sbdocs > h1,
.sbdocs > h2 {
  margin-block: 2rem 1rem !important;
}

.sbdocs .toolbar {
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  /* background: var(--c-neutral-50); */
  /* padding: var(--space-s) var(--space-l); */
  margin-block: var(--space-m);
  border-radius: 999px;

  & .hue-value::before {
    content: var(--h);
  }
}

.sb-story {
  border: 1px solid var(--c-neutral-100);
  padding: 1.5rem;
  border-radius: var(--radius-m);
}

.docs-story .sb-story {
  border: none;
  padding: 0;
}
