@layer layout {
  .flow > * + * {
    margin-block-start: var(--flow-space, var(--space-m));
  }

  .layout-grid {
    --layout-grid-min: 30ch;
    --layout-grid-gap: var(--space-m);

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--layout-grid-min)), 1fr)
    );
    gap: var(--layout-grid-gap);
  }

  .flex-layout-grid {
    --flex-grid-min: 20rem;
    --flex-grid-gap: var(--space-m);

    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-grid-gap);

    > * {
      flex: 1 1 var(--flex-grid-min);
    }
  }

  :is(.layout-grid, .flex-layout-grid) > * {
    container: var(--grid-item-container, grid-item) / inline-size;
  }
}
