@import url(reset.css);
@import url(variables-palette.css);
@import url(variables.css);
@import url(animation.css);
@import url(typography.css);
@import url(kbd.css);
@import url(layout.css);
@import url(button.css);
@import url(popover.css);
@import url(card.css);
@import url(dialog.css);
@import url(navigation.css);
@import url(pagination.css);
@import url(table.css);
@import url(checkbox.css);
@import url(counter.css);
@import url(badge.css);
@import url(tag.css);
@import url(avatar.css);
@import url(p-plus.css);
@import url(breadcrumbs.css);
@import url(textarea.css);
@import url(details.css);
@import url(messages.css);
@import url(input.css);
@import url(./mentions.css);
@import url(list-shared.css);
@import url(list-item-shared.css);
@import url(cmdk.css);
@import url(progress-indicator.css);
@import url(toast.css);
@import url(bubble-menu.css);
@import url(docs.css);

@layer reset, theme, global, layout, components, utilities, states;

:root,
body {
  color-scheme: light only;
}

[hidden] {
  display: none !important;
}

.inclusively-hidden {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* TODO: move */

.layer {
  background: var(--c-neutral-0);
  --c-background: var(--c-neutral-0);

  .layer {
    background: var(--c-neutral-50);
    --c-background: var(--c-neutral-50);

    .layer {
      background: var(--c-neutral-0);
      --c-background: var(--c-neutral-0);
    }
  }
}

.layer.gray {
  background: var(--c-neutral-50);
  /* --c-background: var(--c-neutral-50); */

  .layer {
    background: var(--c-neutral-0);
    /* --c-background: var(--c-neutral-0); */

    .layer {
      background: var(--c-neutral-50);
      /* --c-background: var(--c-neutral-50); */
    }
  }
}

.dashed {
  border-style: dashed;
}
