@import url(reset.css);
@import url(variables-palette.css);
@import url(variables.css);
@import url(typography.css);
@import url(button.css);

@import url(docs.css);

@layer reset, theme, global, layout, components, utilities, states;

:root,
body {
  color-scheme: light only;
}

:host {
  box-sizing: border-box;
}

:host *,
:host *::before,
:host *::after {
  box-sizing: inherit;
}

[hidden] {
  display: none !important;
}

.inclusively-hidden {
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}