:host {
  display: inline-block;
}

.tab {
  /* TODO: Move to tab container; use subgrid here */
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  font-family: inherit;
  font-size: var(--text-s);
  font-weight: var(--font-weight-semibold);
  /* TODO: variable */
  line-height: 120%;
  border-radius: var(--radius-m);
  color: var(--c-neutral-600);
  padding: var(--space-m) var(--space-l);
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  transition:
    var(--transition-speed) box-shadow,
    var(--transition-speed) color;
}

.tab:hover:not(.tab--disabled) {
  color: var(--c-accent);
}

.tab:focus {
  outline: none;
}

.tab:focus-visible:not(.tab--disabled) {
  color: var(--c-accent);
}

.tab:focus-visible {
  outline: var(--focus-ring);
  outline-offset: calc(
    -1 * var(--focus-ring-width) - var(--focus-ring-offset)
  );
}

.tab.tab--active:not(.tab--disabled) {
  color: var(--c-accent);
}

.tab.tab--closable {
  padding-inline-end: var(--space-s);
}

.tab.tab--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tab ::slotted(.icon) {
  grid-row: span 2;
  padding-inline-end: var(--space-m);
  padding-block-start: var(--space-xs);
  align-self: start;
}

.tab ::slotted(small) {
  opacity: 0.6;
}
